<style>
	p{
		width: 550px;
		margin: 0 auto;
	  }
</style>


<img src="<%= imagen %>" alt="" width="150" height='150'>
<br>
<h2>Gilberto Hernández Gutiérrez</h2>
<br>
<p>Apasionado por el aprendizaje, buscador de nuevas oportunidades y motivado para seguir en el conocimiento de nuevas tecnologas de desarrollo </p>

